.carousel {
    padding: 2rem 0;
}

.carousel img {
    height: 75vh;
    object-fit: cover;
}

.thumbs-wrapper, .carousel-status {
    display: none;
}

@media screen and (max-width: 780px) {
    .container{
      display: none;
    }
  }
